body {
    background-color: burlywood;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin: 0;
    padding: 20px;
}

.js-image {
    width: 250px;
    border-radius: 30%;
}